@charset "UTF-8";

@font-face {
    font-family: "font_reg";
    src: url("fonts/font_reg.ttf"); 
}

@font-face {
    font-family: "font_bold";
    src: url("fonts/font_bold.ttf"); 
}

.font_reg{
    font-family: font_reg, Tahoma, sans-serif !important;
}

.font_bold{
    font-family: font_bold, Tahoma, sans-serif !important;
}

.font_main{
    color: var(--color-main) !important;
}

.font_light{
    color: var(--color-light) !important;
}

.font_att{
    color: var(--color-att) !important;
}

.font_int{
    color: var(--color-int) !important;
}

.font_active{
    color: var(--color-active) !important;
}